* {
  margin: 0;
  padding: 0;
}
body{
text-align: center;
background-image: url(https://wallpaperaccess.com/full/1134714.png);
}
  .box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
.wrapper{
	width:1170px;
	margin:0 auto;
}
header{
		height:100px;
		background: #262626;
		width: 100%;
		z-index:12;
		position:fixed;
}
.logo{
		width: 30%;
		float: left;
		line-height: 100px;
		
}.logo a{
		text-decoration: none;
		font-size: 30px;
		font-family:Times New Roman;
		color:#fff;
		letter-spacing:10px;
}
nav{
		float: right;
		line-height:100px;
}
nav a{
		text-decoration: none;
		font-family:Times New Roman;
		letter-spacing: 4px;
		font-size: 20px;
		margin: 0 10px;
		color:#FFFFFF;
}
body h1 {
    margin: 0;
  padding: 0;
  background-image: url(https://wallpaper.dog/large/583366.jpg);
  background-size: cover;
}
.heading {
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 10px;
    padding: 40px;
    color: white;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 400px;
  width: 400px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 400px;
  width: 400px;
  overflow: hidden;
  display: inline-block;
  color: whites;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 400px;
  width: 400px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}